:root{
    --margin-bottom-container: 20px;
    --margin-task: 25px;
    --margin-task-description: 15px;
    --container-color: #c07d19;
    --task-color: #5adcb5;
    --border-color: #0F0326;
    --strikethrough-text: red;
}

.completed-container {
    width: 80%;
    height: 600px;
    background-color: var(--container-color);
    border-radius: 6px;
    padding: 12px;
    overflow: auto;
}

.completed-container h2 {
    margin-bottom: var(--margin-bottom-container);
}

.completedTask{
    margin: var(--margin-task);
    background-color: var(--task-color);
    padding: 5px;
    border: 2px  var(--border-color) solid;
    border-radius: 12px;
}

.completedTask p {
    margin: var(--margin-task-description);
}

.completedTaskHead {
    display: flex;
    justify-content: space-between;
}

.completedTaskHead h3 {
    text-decoration: line-through var(--strikethrough-text) 2px;
}

.completedDescription{
    margin: 10px;
}
